/* *,
:before,
:after {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0, auto;
}

body {
   min-width: 100%; 
  font-family: Tomorrow, sans-serif;
  background-color: blueviolet;
}
/* body {
  display: flex;
  justify-content: center;
  align-items: column; 

   min-height: 100vh; 
  background-color: blueviolet;
} */

/* h1 {
  font-size: 2em;
  color: white;
} */

/* .main > section {
  width: 624px
} 

.box {
  width: 40%;
  /*   width: 624px; */
padding: 96px 56px 84px;
/* text-align: center;
}

h1 {
  font-style: 64px;
  line-height: 130px;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-family: Tomorrow, sans-serif;
  color: white;
}

h2 {
  font-size: 32px;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-family: Tomorrow, sans-serif;
  /*   color: white 
}

label {
  font-size: 32px;
  line-height: 130px;
}

li {
  font-size: 20px;
  line-height: 136px;
  font-weight: 700;
  list-style-type: none;
}
input {
  width: 200px;
  height: 100%;
  font-size: 48px;
}

span {
  font-size: 48px;
}

button {
  font-size: 32px;
  line-height: 130px;
  text-transform: uppercase;
}

.guessedNumber,
.intervalNumber {
  font-size: 48px;
  font-weight: 700;
}

.lessThen {
  font-size: 62px;
  font-weight: 600;
} */
/* // ------ */

* {
  margin: 10px;
  padding: 10;
  box-sizing: border-box;
}

body {
  background-color: #70076b;
  line-height: 130%;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-family: Tomorrow, Arial, sans-serif;
}

.kontejner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10 px;
  flex: 1 100%;
}

section {
  background-color: white;
}

.box,
.box1 {
  justify-content: space-between;
  flex: 1 0 0 ;
  width: 50%;
  margin:10px;
  padding: 96px 53px 86px 53px;
  text-align: center;
}
.box2 {
  /*   flex-grow: 2;  */
  /*   width: 100;  */
  flex: 100%;
  margin:10px;
  padding: 96px 53px 86px 53px;
  text-align: center;
}
h1 {
  font-size: 64px;
  line-height: 130%;
  color: white;
  text-align: center;
  margin: 102px 0;
}

h2,
label {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

section > h2,
li {
  margin-bottom: 32px;
}

li {
  font-size: 20px;
  line-height: 160%;
  font-weight: 700;
  list-style-type: none;
  /*   width: 100%; */
}

button {
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: #00FFC4;
  border: 0px;
  font-family: Tomorrow, sans-serif;
}

input,
.guessedNumber,
.intervalNumber {
  font-size: 48px;
  font-weight: 700;
}

.lessThan {
  font-size: 62px;
  font-weight: 700;
}

#guessSection {
  margin-top: 68px;
  padding: 86px 0;
}

input {
  width: 200px;
  height: 100%;
  text-align: center;
  font-family: Tomorrow, sans-serif;
  border:0;
  background-color: #ec43b9;
  color: white;
}

form {
  /* width: 100; */
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
}

@media (min-width: 800px) {
  .kontejner {
    display: flex;
  }
}
